@{
    ViewBag.Title = "Approved";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pending Request Statust</title>
    <link rel="stylesheet" href="~/css/RequestStatusStyle.css" />
</head>
<div class="main-content">
    <div class="white-container">
        <div class="banner">
            <img src="~/images/banner.png" alt="Banner Image" />
        </div>
        <div class="circular-logo">
            <img src="~/images/WhiteLogo.png" alt="Logo Image" />
        </div>
        <div class="text-container">
            <h1>Request Status!</h1>
            <p>Your Request status is...</p>
        </div>
        <div class="rectangle-container">
            <div class="rectangle-text">Approved!!!</div>
            <img src="/images/approvedBee.png" alt="Approved" />
        </div>
        <a href="Rejected">
            <button class="button">Home</button>
        </a>

    </div>
</html>